* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px; }

.image-container {
  float: left;
  width: 100%;
  clear: both; }
  .image-container img {
    float: left;
    width: 12.5%;
    height: auto;
    border-top: 1px solid #afafaf;
    border-right: 1px solid #afafaf; }
    @media screen and (max-width: 1000px) {
      .image-container img {
        width: 20%; } }
    @media screen and (max-width: 650px) {
      .image-container img {
        width: 33.3%; } }
    @media screen and (max-width: 400px) {
      .image-container img {
        width: 50%; } }
    @media screen and (max-width: 320px) {
      .image-container img {
        width: 100%; } }

.pll {
  float: left;
  height: 200px;
  width: 12.5%; }
  @media screen and (max-width: 1000px) {
    .pll {
      width: 20%; } }
  @media screen and (max-width: 650px) {
    .pll {
      width: 33.3%; } }
  @media screen and (max-width: 400px) {
    .pll {
      width: 50%; } }
  @media screen and (max-width: 320px) {
    .pll {
      width: 100%; } }
